*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    height: 100%;
    overflow-x: hidden; 
}

html{
    scroll-behavior: smooth;
    
}
.container-fluid{
    height: 15%;
    background-color: #9932CC;
    color:#F2F1EF;
}

.text-center{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 0;
}

.nav{
    background-color:#591D77;
}

a{
    color:#F2F1EF;
}

a:link {
    color:#F2F1EF;
}
/* A link that has been visited */
a:visited {
    color:#F2F1EF;
}
/* A link that is hovered on */
a:hover {
    color:#F2F1EF;
}
/* A link that is selected */
a:active {
    color:#F2F1EF;
}


.rounded{
    width: 100%;
}
.img-container{
    background-color: black;
    max-width: 100%;
}
#Logo{
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.page-footer{
    background-color:#591D77;
    color:#F2F1EF;
    width: 100%;
    max-width: 100%;
}

.footers{
    padding-left: 5%;
}

.col-sm-4{
    max-width: 100%;
}