
*{
    margin:0;
    padding:0;
}

body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: black;
  }
html{
    scroll-behavior: smooth; 
}

header{
    font-size: large;
    width: 100%;
    max-width: 100%;
   
}

a{
    color: #fefefe;
}

.navbar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    color:#fefefe;
    max-width: 100%;
}


.display-movil{
    display:none;
    list-style: none;
}

/*Para telefonos y tablets*/
@media only screen and (max-width:  992px) {
    .navbar {
        background-color: black;
    }
    /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .no-display-movil{
    display:none;
    }
    .display-movil{
        display:block;
    }
}

.nav img{
    margin-top: 10%;
}

#icono-cambiante{
    margin-top: 30%;
}

.navitem:active{
    color:#9932CC;
}

.nav-link:hover,.nav-link:focus{
  text-decoration: underline;
}

#cabecera {
    width: 100%;
    background: black;
    position: relative;
    padding: 100px 0 0 0;
  }
  
#cabecera-logo{
  display: none;
}
  
#Logo{
    
    width: 100%;
    height: 100%;
   
}
.Name{
    color:#fefefe;
    margin-top: 20%;
    margin-bottom: 20%;
}
.Name-font1{
    font-family: "Julee", fantasy
}
.Name-font{
    font-size: 4.5vw;
    font-family: "Julee", fantasy
}
@media only screen and (max-width:  992px) {
    .Name-font{
        font-size: 65px;
    }
}


.container-fluid{
    height: 15%;
    background-color: #9932CC;
    color:#fefefe;
}

.text-center{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-bottom: 0;
}
@media only screen and (max-width:  992px) {
  .text-center{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 0;
}
}
/*Boton de contraste*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#CCCC00;
    -webkit-transition: .4s;
    transition: .4s;
    margin-top: 10%
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 1px;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #9932CC;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
/*Botones de texto + y - */

.btn-secondary{
    background-color: #fefefe;
    color: black;
    height: 100%;
    width: 100%;
    
}

.btn-cookies,.btn-cookies:hover,.btn-cookies:active {
    background-color: #9932CC;
    border-color: #591D77;
}

.list-group-item{
    background-color: #9932CC;
    color:#fefefe;
}

.leer-mas{
    color:#9932CC;
}
.minijuegosOut{
    padding-left: 10%;
    height: 100%;
}

.minijuegosIn{
    background-color:#fefefe;
    border-radius: 5%;
    border: 1% solid #591D77;
    padding: 1%;
}

.img-minijuegos{
    width: 100%;
}

.card{
    height: 100%;
    width: 90%;
    color:#591D77;
    border-radius: 5%;
    border: 1% solid #591D77;
    display:none;
}

.card-img-top{
    border-radius: 5%;
    border: 1% solid #591D77;
}


/*Footer*/
.footer-div{
    justify-items: center;
    display: flex;
}
.page-footer{
    background-color:#591D77;
    color:#fefefe;
    width: 100%;
    max-width: 100%;
}

.footers{
    padding-left: 7%;
    padding-top:7%;
}

/*ANIMACIONES*/
#descarga{
    color: #fefefe;
    animation: bounceIn 2s;
    animation-duration: 4s;
}

#descarga:hover,#descarga:focus{
  
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }


  .ojo{
      width:200px;
      height: 200px;
      background : white;
      position:absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%) rotate(45deg);
      border-radius: 75% 0;
      overflow: hidden;
  }

  .ball{
        border-radius:50%;
        border: 80px solid #576574;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        position: relative;
        display: inline-block;
        height: 150px;
        width: 150px;
        background: #CCC;
  }


  .shut{
      width: 300px;
      height: 160px;
      position: absolute;
      top : 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-45deg);
      z-index:999;
     
  }
  @keyframes blink {
   
    100% {
        height:100%;
    }
  }

  .shut span{
      display: block;
      width:100%;
      height: 20%;
      background: #591D77;
      border-radius: 0 0 60% 50%;
      transition: 0.2s all;
  }

  .ojo:hover > .shut span{
      height:100%;
  }



  
  .eye:after { /*pupil*/
    position: absolute;
    bottom: 7px;
    right: 7px;
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    content: " ";
  }

  .luz { /*pupil*/
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    content: " ";
    z-index:1;
  }

  /**/
  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    background: black;
    color: #fff;
    transition: all 0.4s;
  }
  


  #agradecimientos{
    display:none;
  }