*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height: 100%;
    overflow-x: hidden; 
}
html{
    scroll-behavior: smooth; 
}
.container-fluid{
    height: 25%;
    background-color:#9932CC;
    color:#fefefe;
}
.nav{
    background-color:#591D77;
    
}
.nav-link:hover,.nav-link:focus {
    background-color: #9932CC;
    text-decoration: underline;
    color:#fefefe;
}   
.nav-item{
    color:#fefefe;
}
.nav-link{
    font-size: large;
    color:#fefefe;
}
.img-container{
    background-color: black;
    max-width: 100%;
}
#Logo{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.page-footer{
    background-color:#591D77;
    color:#fefefe;
    width: 100%;
    max-width: 100%;
}

.footers{
    padding-left: 7%;
    padding-top:7%;
}

.col-sm-4{
    max-width: 100%;
}

.list-group-item{
    background-color: #9932CC;
    color:#fefefe;
}

#a-login{
    color:black;
}
.footer-div{
    justify-items: center;
    display: flex;
}
#a-login{
    color:black;
    font-size: x-large;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#9932CC;
    -webkit-transition: .4s;
    transition: .4s;
    margin-top: 10%
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #left-pad2{
    margin-left:10%;
    display: flex;
    justify-content:center;
}

#minus-button{
    padding-left:1%;
}

#plus-button{
    margin-left:0.5%;
}

.btn-secondary{
    background-color: #fefefe;
    color: black;
    height: 100%;
    width: 120%;
}
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active{
    background-color: #c82333;
    border-color: #dc3545;
}